<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>

	<log>false</log>

	<transaction>
		<classname>transactions.project.fitness.report.AnalysisOrgBase</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<query>query-pt.sql</query>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="query-pt.sql" tag="pt-rows" />
	</output>

</config>
