<?xml version='1.0' encoding='UTF-8'?>
<config>

    <summary>
                 查询字段
    </summary>
    
    <log>false</log>

    <colname>column_name</colname>
    <operator></operator>
    <sql-template>query-base.sql</sql-template>
    <paging-recordset>query</paging-recordset>
    <total-recordset>query-count</total-recordset>

    <transaction>
        <classname>com.ccms.SearchForJson</classname>
        <validator>true</validator>
        <transaction>false</transaction>
        <jdbc-log>false</jdbc-log>
    </transaction>
 <output>
        <classname>dinamica.GenericOutput</classname>
        <template>script.js</template>
        <set-http-headers>true</set-http-headers>
        <content-type>text/javascript</content-type>
        <expiration>0</expiration>
        <print mode="table" recordset="query" tag="rows"  />
        <print mode="form" recordset="query-count"/>
    </output>
</config>