<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>

	<log>false</log>
	
	<!-- word模板路径 -->
	<doc-template>/erpclubdoc/template/buka.docx</doc-template>
	<!-- 模板中参数列表 ，多个用英文分号隔开-->
	<params>vc_club;billcode;oldcardcode;newcardcode;username;fmoney;vciuser;opertime;jieshuyu</params>
	<!-- 参数对应的字段列表 -->
	<fields>vc_head;vc_billcode;old_cardcode;new_cardcode;vc_name;f_money;vc_iuser;oper_time;wish</fields>

	<transaction>
		<classname>transactions.project.fitness.doc.WordTemplateReplace</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<on-error>/action/project/fitness/util/error/alert</on-error>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="_rsdoc" />
	</output>

</config>
