<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		Producto - Insertar registro
	</summary>

	<log>false</log>

	<colname>skill_id</colname>
	<sql-template>insert.sql</sql-template>

	<transaction>
		<classname>com.ccms.InsertMaster</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<query>delete_hr_authority_list.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
	</output>

</config>
