<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>

	<log>false</log>
	
	<!-- word模板路径 -->
	<doc-template>/erpclubdoc/template/fenqibanka.docx</doc-template>
	<!-- 模板中参数列表 ，多个用英文分号隔开-->
	<params>vc_club;pintiao_hao;vc_billcode;vc_code;vc_name;vc_cardcode;vc_detail;f_inimoney;f_normalmoney;f_factmoney;i_discounttype;pay_detail;i_stage_times;yifu_qishu;f_leftmoney;vc_iusername;vc_auser;c_atime;vc_remark</params>
	<!-- 参数对应的字段列表 -->
	<fields>vc_club;pintiao_hao;vc_billcode;vc_code;vc_name;vc_cardcode;vc_detail;f_inimoney;f_normalmoney;f_factmoney;f_discountmoney;pay_detail;i_stage_times;i_stage_times_pay;f_leftmoney;vc_iusername;vc_auser;c_atime;vc_remark</fields>

	<transaction>
		<classname>transactions.project.fitness.doc.WordTemplateReplace</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<on-error>/action/project/fitness/util/error/alert</on-error>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="_rsdoc" />
	</output>

</config>
