<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		停卡
	</summary>
	
	<log>true</log>

    <transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-age.sql" source="sql" scope="transaction" />
		<recordset id="query-leave.sql" source="sql" scope="transaction" />
		<recordset id="query-level.sql" source="sql" scope="transaction"/>
		<recordset id="query-mc.sql" source="sql" scope="transaction"/> 
		<recordset id="query-stage.sql" source="sql" scope="transaction"/>
		<recordset id="query-day.sql" source="sql" scope="transaction"/>
		<recordset id="query-month.sql" source="sql" scope="transaction"/>
       	<recordset id="query-fitnessPurpose.sql" source="sql" scope="transaction"/>
	    <recordset id="query-personalHobbies.sql" source="sql" scope="transaction"/>
	    <recordset id="query-maritalstatus.sql" source="sql" scope="transaction"/> 
	    <recordset id="query-children.sql" source="sql" scope="transaction"/>
	    <recordset id="query-guesttype.sql" source="sql" scope="transaction"/>
	    <recordset id="query-pt.sql" source="sql" scope="transaction"/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode="table" recordset="query-age.sql" tag="age-row" />
		<print mode="table" recordset="query-leave.sql" tag="leave-row" />
		<print mode="table" recordset="query-level.sql" tag="level-row" />
		<print mode="table" recordset="query-mc.sql" tag="mc-row" />
		<print mode="table" recordset="query-stage.sql" tag="stage-row" />
		<print mode="table" recordset="query-day.sql" tag="day-row" />
		<print mode="table" recordset="query-month.sql" tag="month-row" />
		<print mode="table" recordset="query-day.sql" tag="day-rowtwo" />
		<print mode="table" recordset="query-month.sql" tag="month-rowtwo" />
		<print mode="table" recordset="query-fitnessPurpose.sql" tag="fitnessPurpose"/>
		<print mode="table" recordset="query-personalHobbies.sql" tag="personalHobbies"/>	
		<print mode="table" recordset="query-maritalstatus.sql" tag="mariy"/>	 
		<print mode="table" recordset="query-children.sql" tag="children"/>		 
		<print mode="table" recordset="query-guesttype.sql" tag="guesttype-rows"/>
		<print mode="table" recordset="query-pt.sql" tag="pt-row" />	
	</output>
</config>
