<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		新增记录
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTableManager</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<query>insert.sql</query>
	<query>insertskill.sql</query>
	<query>insert-user.sql</query>
	<query>insert-roles.sql</query>
	<query>insert-passlog.sql</query>
	<query>update-attach.sql</query>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
	</output>

</config>
