<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		编辑系统应用
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="getguest.sql" source="sql" scope="transaction" />
		<!-- <recordset id="getbranch.sql" source="sql" scope="transaction" />
		<recordset id="getproduct.sql" source="sql" scope="transaction" />
		<recordset id="getisgood.sql" source="sql" scope="transaction" /> -->
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="getguest.sql" />
		<!-- <print mode="table" recordset="getbranch.sql"  tag="branch-rows"/>
		<print mode="table" recordset="getproduct.sql"  tag="product-rows"/>
		<print mode="table" recordset="getisgood.sql"  tag="isgood-rows"/> -->
		<print mode="form" recordset="_request" />
	</output>
</config>
