<?xml version='1.0' encoding='UTF-8'?>

<config>

    <summary>
        Inserta un documento
    </summary>
    
    <log>false</log>

	<!-- 文件大小限制 (MB) -->
	<max-size>20</max-size>
	<file-pre></file-pre>

    <transaction>
        <classname>com.ccms.util.attachment.UploadAttachFile</classname>
        <validator>true</validator>
        <transaction>true</transaction>
        <jdbc-log>false</jdbc-log>
        <recordset id="query.sql" source="sql" scope="transaction" />
    </transaction>

    <output>
          <classname>dinamica.GenericOutput</classname>
        <template>template.htm</template>
        <set-http-headers>true</set-http-headers>
        <content-type>text/html</content-type>
        <expiration>0</expiration>
        <print mode="form" recordset="query.sql"/>
        <print mode="form" recordset="_request"/>
    </output>

</config>
