<?xml version='1.0' encoding='UTF-8'?>
<config nodb="false">

	<summary>
	</summary>
	
	<log>false</log>

    <transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	    <recordset id="query-ptscale-type.sql" source="sql" scope="transaction" />
	    <recordset id="query-staff.sql" source="sql" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode="table" recordset="query-ptscale-type.sql" tag="scaletype-rows"/>
		<print mode="table" recordset="query-staff.sql" tag="staff-rows"/>
		<print mode="form" recordset="_request" />
	</output>

</config>
