<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo del resultado
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query.sql" />
	<set-request-attribute id="paging.pagesize" value="10" />

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="sql" scope="session"	on-empty-return="1" />
	</transaction>

	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="/action/notfound/normal" />

</config>
