<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		客户管理
	</summary>
	
	<log>false</log>
	
	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-menu.sql" source="sql" scope="transaction" />
		<recordset id="query-tenantry.sql" source="sql" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="query-menu.sql" tag="rows" />
		<print mode="form" recordset="query-tenantry.sql" />
	</output>

</config>