<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		会员私教课时统计
	</summary>

	<log>false</log>

	<colname>daochu_cust</colname>
	<sql-template>query-base.sql</sql-template>

	<transaction>
		<classname>transactions.project.fitness.SearchData</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>

	<excel recordset="query-base.sql" sheetname="会员私教课时统计记录" filename="会员私教课时统计记录.xls" header-background="true">
		<col id="code" label="会员编号" /> 
		<col id="name" label="姓名" />
		<col id="mobile" label="手机号码" />
		<col id="zknum" label="赠课剩余数量" /> 
		<col id="completezknum" label="赠课已上课数量" />
		<col id="tynum" label="体验课剩余数量" />
		<col id="completetynum" label="体验课已上课数量" />
		<col id="sfnum" label="收费课剩余数量" /> 
		<col id="completesfnum" label="收费课已上课数量" />
	</excel>


</config>
