<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		加载节点和跳转
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-nodes.sql" source="sql" scope="transaction" />
		<recordset id="query-actions.sql" source="sql" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="query-nodes.sql" tag="nrows" />
		<print mode="table" recordset="query-actions.sql" tag="arows" />
	</output>

</config>
