<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		沟通记录
	</summary>
	
	<log>true</log>

    <transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-communicationTarget.sql" source="sql" scope="transaction" />
		<recordset id="query-customer.sql" source="sql" scope="transaction" />
		<recordset id="query-staff.sql" source="sql" scope="transaction" />
		<recordset id="query-CallStatus.sql" source="sql" scope="transaction" />
		<recordset id="query-CommFailResaon.sql" source="sql" scope="transaction" />
		<recordset id="query-CommStage.sql" source="sql" scope="transaction" />
		<recordset id="query-GuestLevel.sql" source="sql" scope="transaction" />
	   <recordset id="query-pt.sql" source="sql" scope="transaction" />
		
		
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode="table" recordset="query-communicationTarget.sql" tag="rows-target" />
		<print mode="form" recordset="query-customer.sql"/>
		<print mode="form" recordset="query-staff.sql" />
		<print mode="table" recordset="query-CallStatus.sql" tag="rows-CallStatus" />
		<print mode="table" recordset="query-CommFailResaon.sql" tag="rows-CommFailResaon" />
		<print mode="table" recordset="query-CommStage.sql" tag="rows-CommStage" />
		<print mode="table" recordset="query-GuestLevel.sql" tag="rows-GuestLevel" />
		<print mode="table" recordset="query-pt.sql" tag="pt" />
		<print mode="form" recordset="_request" />
	</output>
</config>
