<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>
	
	<log>false</log>
	
	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>skill_name</colname>	
			<colname>skill_code</colname>		
		</cols>
		<table>hr_skill</table>
		<oper>增加</oper>
		<area>岗位</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey>select ${seq:currval@seq_skill} as id from dual</pkey>
	</audit>
	
    <request-encoding>UTF-8</request-encoding>

	<colname>menu_id;role_id</colname>
	<sql-template>insert-skill-menu.sql;insert-skill-roles.sql</sql-template>

	<transaction>
		<classname>com.ccms.InsertMaster</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<query>insert_skill.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
	</output>

</config>
