<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		查询系统应用
	</summary>

	<log>false</log>

	<colname></colname>
	<sql-template>query-base.sql</sql-template>

	<transaction>
		<classname>transactions.project.fitness.SearchData</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>

	<excel recordset="query-base.sql" sheetname="预约来访记录" filename="预约来访记录.xls" header-background="true">
		<col id="vc_name" label="姓名" />
		<col id="i_sex" label="性别" />
		<col id="vc_contactway" label="联系方式" />
		<col id="vc_preparedate" label="预约时间" />
		<col id="preparemc" label="预约会籍" />
		<col id="vc_visitdate" label="来访时间" />
		<col id="vc_visitmc" label="来访会籍" />
		<col id="prepare_type" label="预约状态" />
		<col id="commresult" label="沟通结果" />
		<col id="num_days" label="保护天数" />
		
	</excel>
</config>
