<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		组织机构
	</summary>
	
	<log>false</log>
	
	<set-request-attribute id="header.title" value="组织机构管理" />
	<set-request-attribute id="formTitleAddNew" value='新增组织机构'/>
    <set-request-attribute id="formTitleEdit" value='修改组织机构'/>

	<transaction>
        <classname>dinamica.GenericTransaction</classname>
        <validator>false</validator>
        <transaction>false</transaction>
        <jdbc-log>false</jdbc-log>		
        <recordset id="query.sql" source="sql" scope="transaction" />
    </transaction>

    <output>
        <classname>dinamica.GenericOutput</classname>
        <template>template.htm</template>
        <set-http-headers>true</set-http-headers>
        <content-type>text/html</content-type>
         <print mode="form" recordset="query.sql" />
        
    </output>
		
</config>
