<?xml version='1.0' encoding='UTF-8'?>

<config>

	<summary>
		Exportar documento excel directo al browser
	</summary>
	
	<log>false</log>
	
	<colname>daochu_f_demand,daochuvc_name,daochu_newmc,daochui_public,daochu_start_date,daochu_end_date,daochu_f_sex,daochu_f_age,daochu_f_nofollowstartdate,daochu_f_nofollowenddate
	,daochu_f_startmonth,daochu_f_startday,daochu_f_endmonth,daochu_f_endday,daochu_f_genjintype,daochu_f_type,daochu_f_mc,daochu_f_level,daochu_f_purpose,daochu_f_stage,daochu_f_personalhobbit,daochu_f_marriage
	,daochu_f_children,daochu_f_leave,daochu_f_participate,daochu_f_ismember,daochu_f_protection,daochu_f_calltimes,daochu_f_distributioncount</colname>
	<sql-template>query-base.sql</sql-template>

	<transaction>
		<classname>transactions.project.fitness.SearchData</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>

	<excel recordset="query-base.sql" sheetname="客户资源列表" filename="客户资源列表.xls" header-background="true">
		<col id="vc_itime" label="录入日期"/>
		<col id="fenpei" label="有效期" />
		<col id="i_public" label="公共资源" />
		<col id="vc_name" label="姓名" />
		<col id="i_sex" label="性别" />
		<col id="vc_mobile" label="电话" />
		<col id="age" label="年龄" />
		<col id="vc_newmc" label="当前会籍" />
		<col id="domain_text_cn" label="沟通阶段" />
		<col id="type" label="获客渠道" />
		<col id="commresult" label="客户状态" />
		<col id="demand" label="需求" />
		<col id="remark" label="备注" />
	</excel>

</config>
