<?xml version='1.0' encoding='UTF-8'?>

<config>

	<summary>
		Ver resultado de consulta paginado
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-domain.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/plain</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="query-domain.sql" tag="rows" alternate-colors="true" />
	</output>

</config>
