<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		新增
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTableManager</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-code.sql" source="sql" scope="transaction" />
	</transaction>

	<query>insert_card.sql</query>
	<query>insert_message.sql</query>
	<query>insert_operatelog.sql</query>
	<query>insert_finance.sql</query>
	<query>insert_cardcode.sql</query>	
	<query>update_cardcode.sql</query>	
	<query>update_ptlog.sql</query>
	<query>update_card.sql</query>
	<query>update_fillcard.sql</query>
	<query>update_cardrelatecode.sql</query>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="query-code.sql" />
	</output>

</config>
