<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		报表
	</summary>
	
	<log>false</log>

	<filter-field>query_filter_field.sql</filter-field>
	<filter-value-recordset>filter_value_recordset</filter-value-recordset>

	<transaction>
		<classname>com.ccms.report.ReportCrud</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query_table.sql" source="sql" scope="transaction"/>
		<recordset id="query_checkbox_field.sql" source="sql" scope="transaction" />
		<recordset id="query-report.sql" source="sql" scope="transaction" />
		<recordset id="query-report-field.sql" source="sql" scope="transaction"/>
	</transaction>

	<output>
		<classname>com.ccms.report.ReportFilterOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode="table" recordset="query_checkbox_field.sql" tag="rows" null-value=""/>
		<print mode="table" recordset="filter_value_recordset" tag="rows-filter_value"/>
		<print mode="table" recordset="query-report-field.sql" tag="report-field-list" null-value=""  alternate-colors="true" />
		<print mode="form" recordset="query-report.sql" />
		<print mode="form" recordset="_request" />
	</output>
	
	<row-template>/WEB-INF/action/ccms/reportgen/template/filter/row.htm</row-template>
	
	<checkbox-template>/WEB-INF/action/ccms/reportgen/template/filter/checkbox.htm</checkbox-template>
	<radio-template>/WEB-INF/action/ccms/reportgen/template/filter/radio.htm</radio-template>
	<text-template>/WEB-INF/action/ccms/reportgen/template/filter/text.htm</text-template>
	<combo-template>/WEB-INF/action/ccms/reportgen/template/filter/combo.htm</combo-template>
	<date-template>/WEB-INF/action/ccms/reportgen/template/filter/date.htm</date-template>
	<datetime-template>/WEB-INF/action/ccms/reportgen/template/filter/datetime.htm</datetime-template>
	<hidden-template>/WEB-INF/action/ccms/reportgen/template/filter/hidden.htm</hidden-template>
	<textreadonly-template>/WEB-INF/action/ccms/reportgen/template/filter/text_readonly.htm</textreadonly-template>
	<textarea-template>/WEB-INF/action/ccms/reportgen/template/filter/textarea.htm</textarea-template>
	<pickup-template>/WEB-INF/action/ccms/reportgen/template/filter/pickup.htm</pickup-template>
	<plugin-template>/WEB-INF/action/ccms/reportgen/template/filter/plugin.htm</plugin-template>
	
	<domainsql-template>/WEB-INF/action/ccms/reportgen/template/sql/query_domain.sql</domainsql-template>
	<fk-field-sql-template>/WEB-INF/action/ccms/reportgen/template/sql/query_fk_field.sql</fk-field-sql-template>
	<fk-data-sql-template>/WEB-INF/action/ccms/reportgen/template/sql/query_fk_data.sql</fk-data-sql-template>

	<table-recordset>query_table.sql</table-recordset>

</config>