<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-skill-menu.sql" source="sql" scope="transaction" />
		<recordset id="query-menu-btn.sql" source="sql" scope="transaction" />
		<recordset id="query-skill-menu-btn.sql" source="sql" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="query-skill-menu.sql" tag="menu-rows" />
		<print mode="table" recordset="query-menu-btn.sql" tag="btn-rows" />
		<print mode="table" recordset="query-skill-menu-btn.sql" tag="kmbtn-rows" />
		<print mode="form" recordset="_request" />
	</output>

</config>
