<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	    <recordset id="query-menu-g1.sql" source="sql" scope="transaction"/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.html</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode="table" recordset="query-menu-g1.sql" tag="g1-rows" />
		<print mode="form" recordset="_request" />
	</output>

</config>
