<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		Crea HGrid de los documentos cargados
	</summary>
	
	<log>false</log>
	
	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.HGridOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/plain; charset=UTF-8</content-type>
	</output>

	<!--hgrid config-->
	<row-template>row.htm</row-template>
	<col-template>col.htm</col-template>
	<cols>5</cols>
	<hgrid-recordset>com.ccms.dinamica.domain.panel.ImageList</hgrid-recordset>
	<!--end hgrid config-->
	
</config>
