<?xml version='1.0' encoding='UTF-8'?>
<config nodb="true">

	<summary>
		Ajax请求验证失败
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="dinamica.errors" source="request" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>validation.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/validate</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="dinamica.errors" tag="rows" />
	</output>

</config>
