<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		跟踪账号信息管理
	</summary>
	
	<log>false</log>

	<set-request-attribute id="header.title" value="跟踪账号信息" />
    <set-request-attribute id="formTitleFilter" value='查询用户登录信息'/>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
	</output>

</config>
