<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		单次消费
	</summary>

	<log>false</log>

	<colname>daochu_start_date,daochu_end_date,daochu_cust_all,daochu_staff_mc</colname>
	<sql-template>query-base.sql</sql-template>

	<transaction>
		<classname>transactions.project.fitness.SearchData</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>


	<excel recordset="query-base.sql" sheetname="会员储值记录" filename="会员储值记录.xls" header-background="true">
		<col id="code" label="会员编号" />
		<col id="name" label="姓名" />
		<col id="sex" label="性别" />
		<col id="mobile" label="电话" />
		<col id="moneycash" label="储值金额" />
		<col id="mc" label="会籍" />
		<col id="enddate" label="会籍截止日期" />
	</excel>
</config>