<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		Exportar Script de Seguridad
	</summary>

	<log>false</log>

	<transaction>
		<classname>com.ccms.dinamica.domain.utils.DBType</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="webapps.sql" source="sql" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode="table" recordset="webapps.sql" tag="rows" />
		<print mode="form" recordset="dbtype" /> 
	</output>

</config>
