<?xml version='1.0' encoding='UTF-8'?>

<config>

	<summary>
		
	</summary>
	
	<log>false</log>

	<transaction>
        <classname>com.ccms.workflow.SearchStaffWorkflow</classname>
        <validator>true</validator>
        <transaction>false</transaction>
        <jdbc-log>false</jdbc-log>
    </transaction>

    <output>
        <classname>dinamica.GenericOutput</classname>
        <template>template.html</template>
        <set-http-headers>true</set-http-headers>
        <content-type>text/html</content-type>
		<print mode="table" recordset="query-org.sql" tag="rows"/>
    </output>

</config>
