<?xml version='1.0' encoding='UTF-8'?>

<config>

	<summary>
		Exportar documento excel directo al browser
	</summary>
	
	<log>false</log>
	<colname>daochu_end_date,daochu_name,daochu_skill_name,daochu_start_date,
	daochu_type,daochu_relatecode,daochu_statusall</colname>
	<sql-template>query-base.sql</sql-template>

	<transaction>
		<classname>transactions.project.fitness.SearchData</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>

	<excel recordset="query-base.sql" sheetname="退卡合同" filename="退卡合同列表.xls" header-background="true">
		<col id="code" label="合同编号" />
		<col id="i_status" label="状态" />
		<col id="card_code" label="卡号" />
		<col id="name" label="姓名" />
		<col id="mobile" label="手机号" />
		<col id="cardname" label="卡名称" />
		<col id="normalmoney" label="收费金额" />
		<col id="createdate" label="退卡日期" />
		<col id="salemember" label="会籍销售" />
		<col id="createdby" label="录入人" />
	</excel>
</config>
