<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary><!-- 删除还款合同 --></summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTableManager</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<query>update-customer.sql</query>
	<query>update-contract.sql</query>
	<query>update-relatecontract.sql</query>
	<query>delete-finance.sql</query>
	<query>delete-operatelog.sql</query>
	<query>insert-operatelog.sql</query>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
	</output>

</config>
