<?xml version='1.0' encoding='UTF-8'?>
<config nodb="true">

	<summary>
		被禁止的用户
	</summary>
	
	<log>false</log>

	<set-request-attribute id="header.title" value="被禁止的用户" />

    <set-request-attribute id="formTitleAddNew" value='新增'/>
    <set-request-attribute id="formTitleEdit" value='修改'/>
    <set-request-attribute id="formTitleFilter" value='查询'/>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
	</output>

</config>
