<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	    <recordset id="query-menu-g2.sql" source="sql" scope="transaction"/>
	    <recordset id="query-menu-g3.sql" source="sql" scope="transaction"/>
	    <recordset id="query-menu-btn.sql" source="sql" scope="transaction"/>
	    <recordset id="query-menu-skill.sql" source="sql" scope="transaction"/>
	    <recordset id="query-menu-btn-skill.sql" source="sql" scope="transaction"/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="query-menu-g2.sql" tag="g2-rows" />
		<print mode="table" recordset="query-menu-g3.sql" tag="g3-rows" />
		<print mode="table" recordset="query-menu-btn.sql" tag="btn-rows" />
		<print mode="table" recordset="query-menu-skill.sql" tag="menuskill-rows" />
		<print mode="table" recordset="query-menu-btn-skill.sql" tag="btnskill-rows" />
	</output>

</config>
