<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTableManager</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<!-- 修改入场出场记录手牌号 -->
	<query>update.sql</query>
	<!-- 新手牌号修改客户信息 -->
	<query>update_cabinettemp.sql</query>
	<!-- 修改旧手牌号为空闲状态 -->
	<query>update_cabinettempold.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
	</output>

</config>