<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		新增
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTableManager</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<query>update-guest.sql</query>
	<query>insert-guest.sql</query>
	<query>insert-guest_visit.sql</query>
	<query>insert-inleft.sql</query>
	
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
	</output>

</config>
