<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>
	
	<log>false</log>
	
	<colname></colname>
	<sql-template>query-base.sql</sql-template>

	<transaction>
		<classname>transactions.project.fitness.SearchData</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>

	<excel recordset="query-base.sql" sheetname="template" filename="product_import_template.xls" header-background="true">
		<col id="vc_type" label="商品类别" />
		<col id="vc_name" label="商品名称" />
		<col id="vc_pcode" label="商品货号" />
		<col id="vc_fastcode" label="快速码" />
		<col id="vc_txcode" label="条形码" />
		<col id="vc_standard" label="规格型号" />
		<col id="vc_unit" label="单位" />
		<col id="f_buyprice" label="进货价格" />
	</excel>

</config>
