<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>
	
	<log>true</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>	
		<recordset id="query-guesttype.sql" source="sql" scope="transaction" />
		<recordset id="query-pt.sql" source="sql" scope="transaction"/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode="table" recordset="query-guesttype.sql" tag="guesttype-list"/>
		<print mode="table" recordset="query-pt.sql" tag="pt-rows"/>
		<print mode="form" recordset="_request" />
	</output>

</config>
