<div class="col-xs-${fld:colspan} col-sm-${fld:colspan} col-md-${fld:colspan} col-lg-${fld:colspan}">
	<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 control-label ${fld:is_required_alias}" style="${fld:show_color}" for="${fld:field_code}_${fld:form_item_id}">${fld:field_name}</label>
	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">	
		<input name="_${fld:field_code}_${fld:form_item_id}_" id="_${fld:field_code}_${fld:form_item_id}_" type="hidden" value="">
		<input class="form-control" id="${fld:field_code}_${fld:form_item_id}" name="${fld:field_code}_${fld:form_item_id}" type="text" size="${fld:show_width}" data-type="datetime" maxlength="25" value="" ${fld:plugin_code} ${fld:is_readonly_alias}>
		${fld:plugin_control}
	</div>
</div>
