<div class="col-xs-${fld:colspan} col-sm-${fld:colspan} col-md-${fld:colspan} col-lg-${fld:colspan}">
	<label class="col-xs-5 col-sm-5 col-md-5 col-lg-5 control-label ${fld:is_required_alias}" for="${fld:field_code}_alias_${fld:form_item_id}" style="${fld:show_color}">${fld:field_name}</label>
	<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
		<div class="col-xs-8 col-sm-9 col-md-10 col-lg-10 clearlr">						
			<input type="hidden" name="_${fld:field_code}_${fld:form_item_id}_" id="_${fld:field_code}_${fld:form_item_id}_" value="">
			<!--picklist-->
			<input id="${fld:field_code}_${fld:form_item_id}" name="${fld:field_code}_${fld:form_item_id}" type="hidden" size="${fld:show_width}" readonly value="">
			<input class="form-control" type="text" id="${fld:field_code}_alias_${fld:form_item_id}" name="${fld:field_code}_alias_${fld:form_item_id}" size="20" readonly value="" ${fld:plugin_code}>
			${fld:plugin_control}
		</div>
		<div class="col-xs-4 col-sm-3 col-md-2 col-lg-2">
			<img src="${DEF:context}/images/search.gif" data-type="pickopen" pick-id="${fld:field_code}_${fld:form_item_id}" pick-alias="${fld:field_code}_alias_${fld:form_item_id}" pick-form="${fld:pickup_form}" pick-field="${fld:pickup_field}" 
				title="查询${fld:field_name}" ${fld:is_readonly_alias} id="pickSearch_${fld:field_code}">
			<img src="${DEF:context}/images/clear.gif" data-type="pickclear" pick-id="${fld:field_code}_${fld:form_item_id}" pick-alias="${fld:field_code}_alias_${fld:form_item_id}" pick-form="${fld:pickup_form}" 
				title="清除选择的内容" ${fld:is_readonly_alias} id="pickClear_${fld:field_code}">
		</div>
	</div>
</div>
        