<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-org.sql" source="sql" scope="transaction" />
		<recordset id="query-user.sql" source="sql" scope="transaction" />
		<recordset id="query-org_big_log.sql" source="sql" scope="transaction" />
		<recordset id="query-org_small_log.sql" source="sql" scope="transaction" />
	</transaction>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="query-org.sql" tag="org-rows" />
		<print mode="form" recordset="query-user.sql" />
		<print mode="table" recordset="query-org_big_log.sql" tag="org_big_log-rows" />
		<print mode="table" recordset="query-org_small_log.sql" tag="org_small_log-rows" />
	</output>
</config>
