<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		新增faq
	</summary>
	
	<log>false</log>
	
	<colname>skill_id</colname>
	<sql-template>insert_skill.sql</sql-template>
	<transaction>
		<classname>com.ccms.faq.ManageFaqIndex</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<query>insert.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
	</output>

</config>
