<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>
	
	<log>false</log>
	
    <request-encoding>UTF-8</request-encoding>

<colname>
	customercode,ptjsons,mcjsons,createdby,orgjsons;
	cardcode,cardtypeid,cardorgid;
	mcid,customercode,orgcode,relatedetail;
	orgcode,customercode;
	courseid,ptid,codeid,orgid;
	orgcode,customercode;
	orgcode,customercode;
	orgcode,customercode;
	mcid,customercode,orgcode
</colname>
<sql-template>
	insert_storerecord.sql;
	update_card.sql;
	update_contract.sql;
	update_customer.sql;
	update_ptrestpt.sql;
	update_cardcode.sql;
	update_finance.sql;
	update_operatelog.sql;
	update_cardcontract.sql
</sql-template>

	<transaction>
		<classname>transactions.project.fitness.customer.zhuangdian</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
	</output>

</config>
