<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		入场刷卡
	</summary>

	<log>false</log>
   
	<transaction>
		<classname>dinamica.GenericTableManager</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	    <recordset id="getrecord.sql" source="sql" scope="transaction"/>
	    <recordset id="query-custallcard.sql" source="sql" scope="transaction"/>
	</transaction>

	<query>update-qrcode.sql</query>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="getrecord.sql" tag="rows" />
		<print mode="form" recordset="query-custallcard.sql" />
		<print mode="form" recordset="_request" />
	</output>

</config>
