<?xml version='1.0' encoding='UTF-8'?>
<config>

    <summary>
        FAQ
    </summary>
    
    <log>false</log>
    
    <set-request-attribute id="header.title" value="岗位信息管理" />
    <set-request-attribute id="formTitleAddNew" value='新增 岗位信息'/>
    <set-request-attribute id="formTitleEdit" value='组织架构'/>
	<set-request-attribute id="formTitleFilter" value='查询岗位信息'/>
	
	
    <transaction>
        <classname>dinamica.GenericTransaction</classname>
        <validator>true</validator>
        <transaction>false</transaction>
        <jdbc-log>false</jdbc-log>		
        <recordset id="query.sql" source="sql" scope="transaction" />
        <recordset id="query-base.sql" source="sql" scope="transaction" />
    </transaction>

    <output>
        <classname>dinamica.GenericOutput</classname>
        <template>template.html</template>
        <set-http-headers>true</set-http-headers>
        <content-type>text/html</content-type>
        <print mode="table" recordset="query.sql" tag="combo-orgs" />
        <print mode="table" recordset="query-base.sql" tag="rows"/>
        <print mode="form" recordset="_request"/>
    </output>

</config>
    