<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>

	<log>false</log>

	<colname>pt_name,_end_date,_start_date,vc_storager,_month,userlogin</colname>
	<sql-template>query-base.sql</sql-template>

	<!-- excel模板路径 -->
	<doc-template>/erpclubdoc/template/ptclass_statistics_template.xlsx</doc-template>
	<!-- 参数对应的字段列表 -->
	<fields>rowno;vc_name;vc_ptlevelname;ptcount;f_ptfactfee;f_scale</fields>
	<!-- 从第几行开始填充数据，首行为0 -->
	<begin-row>1</begin-row>
	
	<transaction>
		<classname>transactions.project.fitness.doc.ExcelTemplateReplace</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<on-error>/action/project/fitness/util/error/alert</on-error>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="_rsdoc" />
	</output>

</config>
