<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		
	</summary>
	
	<log>false</log>
	
	<query-wfm>query-wfm.sql</query-wfm>
	<insert-wfm>insert-wfm.sql</insert-wfm>
	
	<transaction>
		<classname>com.ccms.workflow.CopyWorkflowByTemplate</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
	</output>

</config>
