<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="course_class_query.sql" source="sql" scope="transaction" />
		<recordset id="class_status_query.sql" source="sql" scope="transaction" />
		<recordset id="learning_times_query.sql" source="sql" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="course_class_query.sql" tag="class-menu-rows" />
		<print mode="table" recordset="class_status_query.sql" tag="class-status-rows" />
		<print mode="table" recordset="learning_times_query.sql" tag="learning-times-rows" />
	</output>

</config>