<?xml version='1.0' encoding='UTF-8'?>
<config nodb="false">

	<summary>
		入住管理
	</summary>
	
	<log>false</log>
    <transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>	
		<recordset id="query-iscardcodelimit.sql" source="sql" scope="transaction" />
		<recordset id="query-whichseventype.sql" source="sql" scope="transaction" /> 
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode="form" recordset="query-iscardcodelimit.sql" />
		<print mode="form" recordset="query-whichseventype.sql"/>
	</output>

</config>
