# Operating System Files

*.DS_Store
Thumbs.db

# Build Files #

bin
#target
#build/
.gradle
WebContent/WEB-INF/class/*

# Eclipse Project Files #

.classpath
.project
.settings
WebContent/WEB-INF/classes

# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

# Test files

*-uploaded
dependency-reduced-pom.xml
README.html
 
upload-dir