<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		Producto - Insertar registro
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>com.ccms.ParentChildDelete</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
	</output>

	<group-master sql="delete.sql" id="id" child="group-form,group-task,group-skill,group-node">
		<group-form table="cs_job_form" key="tuid" pkey="job_id">
		</group-form>
		<group-task table="cs_task_pool" key="tuid" pkey="job_id">
		</group-task>
		<group-skill table="cs_job_skill" key="tuid" pkey="job_id">
		</group-skill>
		<group-node table="cs_job_node" key="tuid" pkey="job_id" child="group-node-to">
			<group-node-to table="cs_job_node_to" key="tuid" pkey="node_id" child="group-node-rule">
				<group-node-rule table="cs_job_node_rule" key="tuid" pkey="node_to_id">
				</group-node-rule>
			</group-node-to>
		</group-node>
    </group-master>

</config>
