body{
background:#F2F2F2;
}
.zhuti{
width:68%;
margin-left:12%;
background: rgba(42, 48, 56, 0.8);
}
.main_top{
height:150px;
width:100%;
}
.tiao {
    margin: 0 auto;
    width: 96%;
}
.ceshiType {
    background: #213540  no-repeat scroll 0 0;
    height: 40px;
    margin-bottom: 8px;
    margin-left: -53px;
    width: 108%;
}
.pgTitle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ffffff #ffffff #cecece;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
}
.pgTitle:hover {
    border: 1px solid #77b503;
    border-radius: 3px;
}
.titleNum {
    background: rgba(0, 0, 0, 0) url("../image/titleNum.png") no-repeat scroll 0 0;
    float: left;
    height: 27px;
    padding-top: 3px;
    text-align: center;
    width: 42px;
}
.xuanxiang {
    border-bottom: 1px dashed #d7d7d7;
    padding-bottom: 10px;
    padding-left: 55px;
    padding-top: 10px;
}
.everyXuanXiang {
    margin-bottom: 5px;
}
.xuanXiangBottom {
    padding-bottom: 15px;
    padding-left: 50px;
    padding-top: 10px;
}
.xuanXiangBottom ul {
    margin: 0;
}
ul {
    padding-left: 0;
}
.xuanXiangBottom ul li {
    display: inline;
}
label {
    padding: 3px 20px 3px 5px;
}
.daTiKa {
    background: rgba(42, 48, 56, 0.8);
    border: 1px solid #8eb2e2;
    height: 410px;
    position: fixed;
    right: 0;
    top: 100px;
    width: 200px;
}
.dtkTitle {
    background: #b0aeb4 none repeat scroll 0 0;
    height: 27px;
    width: 200px;
}
element.style {
    margin-bottom: 5px;
    padding-top: 5px;
}
.dtkTitle span {
    float: right;
    padding: 0 15px 0 10px;
}
.ceshiTypeRight {
    background: #213540 none repeat scroll 0 0;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-top: 5px;
}
.pgTitleRight {
    line-height: 28px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-top: 5px;
}
.pgTitleRight li {
    display: inline;
}
.titleNumRight label {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 8px;
}
   .expandDaTiKa {
    background: #f00 url("../image/zhankai.png") repeat scroll 0 0;
    display: none;
    height: 124px;
    position: fixed;
    right: 0;
    top: 100px;
    width: 27px;
}