<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		Muestra un error general
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.ErrorHandler</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="validator.excel" source="session" scope="transaction"/> 
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>message.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html;charset=UTF-8</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="validator.excel"/> 
	</output>

</config>
