<?xml version='1.0' encoding='UTF-8'?>
<config nodb="false">

	<summary>
		首页
	</summary>
	
	<log>false</log>

    <transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-targetstaff.sql" source="sql" scope="transaction" />
		<recordset id="query-dayhkbguestnum.sql" source="sql" scope="transaction" />
		<recordset id="query-monthhkbguest.sql" source="sql" scope="transaction" />
		<recordset id="query-hkbguest.sql" source="sql" scope="transaction" />
		<recordset id="query-notice.sql" source="sql" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode="table" recordset="query-targetstaff.sql" tag="targetstaff-rows" />
		<print mode="form" recordset="query-dayhkbguestnum.sql" />
		<print mode="form" recordset="query-monthhkbguest.sql" />
		<print mode="table" recordset="query-hkbguest.sql" tag="hkbguest-rows" />
		<print mode="table" recordset="query-notice.sql" tag="notice-rows" />
	</output>

</config>
