<?xml version='1.0' encoding='UTF-8'?>
<config nodb="true">

	<summary>
		Alert general error message
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.ErrorHandler</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/validate</content-type>
		<expiration>0</expiration>
	</output>
</config>
