<?xml version='1.0' encoding='UTF-8'?>
<config>

    <summary>
        Producto - Insertar registro
    </summary>
    
    <log>false</log>

    <transaction>
        <classname>dinamica.GenericTableManager</classname>
        <validator>true</validator>
        <transaction>false</transaction>
        <jdbc-log>false</jdbc-log>
    </transaction>

    <query>delete.sql</query>

    <output>
        <classname>dinamica.GenericOutput</classname>
        <template>template.txt</template>
        <set-http-headers>true</set-http-headers>
        <content-type>text/html</content-type>
        <expiration>0</expiration>
    </output>

</config>
