<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>

	</summary>

	<log>false</log>

	<audit>
		<recordset>query.sql</recordset>
		<cols>
			<colname>userlogin</colname>
		</cols>
		<table>s_user</table>
		<oper>修改</oper>
		<area>密码</area>
		<pkey>user_id</pkey>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableTransaction</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="sql" scope="transaction" />
	</transaction>

	<query>update.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
	</output>

</config>
