<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>
	
	<log>false</log>
	
	<colname></colname>
	<sql-template>query-base.sql</sql-template>

	<transaction>
		<classname>transactions.project.fitness.SearchData</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>

	<excel recordset="query-base.sql" sheetname="资源导入" filename="资源导入.xls" header-background="true">
		<col id="officename" label="公司名称" />
		<col id="province2" label="省" />
		<col id="city2" label="市" />
		<col id="customtype" label="公司类型" />
		<col id="mc" label="会籍" />
		<col id="officetel" label="公司电话" />
		<col id="email" label="公司邮箱" />
		<col id="officeaddr" label="公司地址" />
	</excel>

</config>
