<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>
	
	<log>false</log>
	
	<colname></colname>
	<sql-template>query-base.sql</sql-template>

	<transaction>
		<classname>transactions.project.fitness.SearchData</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>

	<excel recordset="query-base.sql" sheetname="资源导入" filename="资源导入.xls" header-background="true">
		<col id="name" label="姓名" />
		<col id="sex" label="性别（男、女）" />
		<col id="mobile" label="手机" />
		<col id="age" label="年龄范围（18岁以下、18-24、25-30、31-40、41-50、51-60、60以上）" />
		<col id="mc" label="会籍" />
		<col id="type" label="获客渠道（外宣收集(DM)、其他(other)、访客介绍(VR)
			、购买名单、来访(DI)、访客(WI)、其他介绍(OR)、电话咨询(TI)、会员介绍(BR)）" />
	</excel>

</config>
