<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		来访预约
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-ptdef.sql" source="sql" scope="transaction"/>
		<recordset id="query-user.sql" source="sql" scope="transaction"/>
		<recordset id="query-mc.sql" source="sql" scope="transaction"/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.html</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode="table" recordset="query-ptdef.sql" tag="ptdef-rows"/>
		<print mode="table" recordset="query-ptdef.sql" tag="ptdef-rowstwo"/>
		<print mode="table" recordset="query-user.sql" tag="user-rows"/>
		<print mode="table" recordset="query-mc.sql" tag="mc-rows"/>
	</output>

</config>
