<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		Actualizar registro
	</summary>
	
	<log>false</log>
	
	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset>query.sql</recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>description</colname>		
		</cols>
		<table>s_menu_item</table>
		<oper>更新</oper>
		<area>菜单条目</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey>id</pkey>
	</audit>

    <request-encoding>UTF-8</request-encoding>

	<transaction>
		<classname>dinamica.audit.AuditableTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="sql" scope="transaction" />
	</transaction>

	<query>update.sql</query>
	<query>update-orden.sql</query>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="_request" />
	</output>

</config>
