.share_code{
    font-size: 0.19rem !important;
    font-weight: 500;
    width: 4rem;
    height: 0.9rem;
    color: rgba(255,255,255,1) !important;
    background: rgba(1,169,251,1);
    border-radius: 0.45rem;
    text-align: center;
    line-height: 0.9rem;
}
m