<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		Editar registro
	</summary>
	
	<log>false</log>

	<set-request-attribute id="help.msg" value="Ayuda en l韓ea para la p醙ina EDITAR..." />
	<set-request-attribute id="display" value=""/>
	

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="orden.sql" source="sql" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="orden.sql"/>
	</output>

</config>
