<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		更新菜单
	</summary>

	<log>false</log>

	<audit>
		<recordset></recordset>
		<cols>
			<colname>title_cn</colname>	
			<colname>position</colname>		
		</cols>
		<table>s_menu</table>
		<oper>更新</oper>
		<area>菜单</area>
		<pkey>tuid</pkey>
	</audit>

	<colname>role_id</colname>
	<sql-template>insert-roles.sql</sql-template>

	<transaction>
		<classname>com.ccms.dinamica.domain.admin.InsertMaster</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<query>delete-roles.sql</query>
	<query>update.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
	</output>

</config>
