/* banner */
html, body {
	position: relative;
	height: 100%;
  }
  body {
	background:rgba(237,237,237,1);
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 0.14rem;
	color:#000;
	margin: 0;
	padding: 0;
  }
  .home_top{
	  padding-top: 0.33rem;
	  width: 7.5rem;
	  width: 7.5rem;
	  height: 8.12rem;
	  background:rgba(255,255,255,1);
  }
  .swiper-container {
	  margin-top: 0.33rem;
	width: 7.1rem;
	height:3.4rem;
	margin-bottom: 0.25rem !important;
	border-radius: 0.15rem;
  }
  .swiper-container-list{
	height:4.1rem;
	
  }

  .swiper-slide {
	text-align: center;
	font-size:0.18rem;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }
  .swiper-slide img{
	  width: 100%;
	  height: 100%;
	  background-size:100% 100%;
	  background-position: center; 
  }
  .list_type ul{
width: 100%;
height: 3.5rem;

overflow-y: scroll;

  }
  .list_type ul::-webkit-scrollbar {display:none}
  .list_type ul li{
	margin: 0.1rem 0;
	  width: 25%;
	  height: 1.6rem;
	  float: left;
	  position: relative;
}
.list_type ul li div img{
	width: 100%;
	display: block;
	height: 100%;
	border-radius:0.4rem;
	background-position: center;
}
.list_type ul li div{
	width: 0.9rem;
	background:rgb(19, 231, 114);
	height: 0.9rem;
	position: absolute;
	top: 0.1rem;
	left: 0;
	border-radius:0.4rem;
	right: 0;
	margin: auto;
}
.list_type ul li span{
	width:100%;
height:0.25rem;
font-size:0.26rem;
display:block;
font-family:PingFang-SC-Medium;
color:rgba(51,51,51,1);
position: absolute;
bottom: 0.15rem;
    line-height: 0.25rem;
text-align: center;
}
.shop{
	width:7.5rem;
	height: auto;
	background: #fff;
	padding-bottom: 1.1rem;
	border-top: 0.24rem solid #EDEDED;
}
.list_title{
	width:7.5rem;
height:0.98rem;
padding: 0 0.3rem;
background:rgba(255,255,255,1);
font-size:0.36rem;
font-family:PingFang-SC-Bold;
color:rgba(51,51,51,1);
line-height: 0.98rem;
border: 0.01rem solid #ededed;

}
.list_cont{
	width: 100%;
	height: auto;
	background: #fff;
	padding-bottom: 0.3rem;
}
.list_cont li{
	width: 100%;
	height:1.3rem;
	padding-left:0.27rem;
	margin-top: 0.4rem;
}
.list_cont li div{
	float: left;
}
.list_con_left{
	width:1.8rem;
	height:1.3rem;
	border-radius:0.08rem;
}
.list_con_left img{
	width: 100%;
	height: 100%;
	border-radius:0.08rem; 
	background-position: center;
}
.list_con_right{
	width: 5.27rem;
	height:1.3rem;
	margin-left:0.16rem;
}

.cont_rt_tit{
	line-height: 0.7rem;
	font-size:0.28rem;
	
color:rgba(51,51,51,1);
}
.list_con_right div{ 
	width: 100%;
	line-height: 0.3rem;
	font-size:0.24rem;

color:rgba(153,153,153,1);
}
.list_con_right div img{
	
	vertical-align: middle;
    width: 0.2rem;
    height: 0.2rem;
}
.list_con_right div span{ 
	padding: 0.05rem;
	vertical-align: middle;
}
