<?xml version='1.0' encoding='UTF-8'?>

<config>

	<summary>
		员工管理导出
	</summary>
	
	<log>false</log>
	
	
	<colname>daochuskill_name,daochu_start_date,daochu_end_date,daochuvc_all,daochuvc_cardtype,daochui_status
	,daochu_f_sex,daochu_f_age,daochu_f_nofollowstartdate,daochu_f_nofollowenddate,daochu_f_startmonth,daochu_f_startday,daochu_f_endmonth
	,daochu_f_endday,daochu_f_type,daochu_f_mc,daochu_f_purpose,daochu_f_stage,daochu_f_personalhobbit
	,daochu_f_marriage,daochu_f_children,daochu_f_leave,daochu_f_protection,daochu_f_calltimes
	,daochu_f_distributioncount,daochu_f_inleftnum,daochu_f_overduecard
	</colname>
	<sql-template>query-base.sql</sql-template>

	<transaction>
		<classname>transactions.project.fitness.SearchData</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>

	<excel recordset="query-base.sql" sheetname="会员信息查询" filename="会员信息查询.xls" header-background="true">
		<col id="datenum" label="保护期" />
		<col id="vc_name" label="姓名" />
		<col id="i_sex" label="性别" />
		<col id="mobile" label="手机" />
		<col id="vc_mc" label="会籍" />
		<col id="tonghuanum" label="通话次数" />
		<col id="tonghuadate" label="最后通话时间" />
		<col id="daodiandate" label="最后到访时间" />
		<col id="enddate" label="会籍截止日期" />
		
	</excel>

</config>
