body {
  width:320px;
  padding-top:121.17333344px;
  text-align: center;
  box-sizing: border-box;
}
p {
  color: #848999;
  font-size: 12px;
}
h1 {
  margin-top:4.26666656px;
  margin-bottom:27.3px;
  color: #84C0FF;
  font-size: 22.4px;
}
img {
  width:148.48px;
}
