<?xml version='1.0' encoding='UTF-8'?>
<config nodb="false">

	<summary>
		入场刷卡
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>	
		<recordset id="query-weather.sql" source="sql" scope="transaction" /> 
		<recordset id="query-weatherinfo.sql" source="sql" scope="transaction" /> 
		<recordset id="query-ishand.sql" source="sql" scope="transaction" /> 
		<recordset id="query-memberhead.sql" source="sql" scope="transaction" /> 
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode="table" recordset="query-weather.sql" tag="weather-list"/>
		<print mode="table" recordset="query-weatherinfo.sql" tag="weatherinfo-list"/>
		<print mode="form" recordset="query-ishand.sql"/>
		<print mode="form" recordset="query-memberhead.sql"/>
	</output>

</config>
