<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		Exportar documento excel directo al browser
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="ob_inject_pool.sql" source="session" scope="transaction" />		
		<recordset id="query_excel_field.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
	
	<excel recordset="ob_inject_pool.sql" sheetname="信息" filename="csdata.xls" date-format="yyyy-MM-dd">
	</excel>

</config>