<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		查询技能
	</summary>
	
	<log>false</log>
  
	<colname>skill_name</colname> 
	<sql-template>query-base.sql</sql-template>
	<paging-recordset>query.sql</paging-recordset>
	<total-recordset>query-count.sql</total-recordset>

	<transaction>
		<classname>com.ccms.SearchForJson</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="query.sql" tag="rows"/>
		<print mode="form" recordset="query-count.sql"/>
	</output>

</config>
