<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>transactions.project.fitness.RegisterGuestget</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<demo-uri>https://demo.gymjam.cn</demo-uri>
	<appname>芯复健身管理系统</appname>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
	</output>

</config>
