<?xml version='1.0' encoding='UTF-8'?>

<!--
	Configuration file for a framework transaction
-->

<config>

	<summary>
		Show form validation errors
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="dinamica.errors" source="request" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>message.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="dinamica.errors" tag="rows" alternate-colors="true"/>
	</output>

</config>
