<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		Save new password
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.security.ChangePassword</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
	</output>

</config>
