<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		提前开卡
	</summary>

	<log>false</log>
	
	<colname>daochu_startdate,daochu_enddate,daochu_cardall,daochu_cardtype,daochu_opentype</colname>
	<sql-template>query-base.sql</sql-template>

	<transaction>
		<classname>transactions.project.fitness.SearchData</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>

	<excel recordset="query-base.sql" sheetname="提前开卡记录" filename="提前开卡记录.xls" header-background="true">
		<col id="cardcode" label="卡号" /> 
		<col id="cardtypename" label="卡类型" />
		<col id="name" label="姓名" />
		<col id="mobile" label="电话" />
		<col id="old_startdate" label="原开始日期" />
		<col id="old_enddate" label="原结束日期" />
		<col id="startdate" label="会员卡开始日期" />
		<col id="enddate" label="会员卡结束日期" />
		<col id="opentype" label="状态" />
	</excel>
</config>
