<?xml version='1.0' encoding='UTF-8'?>

<config>

	<summary>
		员工管理导出
	</summary>
	
	<log>false</log>
	
	
	<colname>daochuskill_name,daochu_start_date,daochu_end_date,daochuvc_all,daochuvc_cardtype,daochui_status
	,daochu_f_sex,daochu_f_age,daochu_f_nofollowstartdate,daochu_f_nofollowenddate,daochu_f_startmonth,daochu_f_startday,daochu_f_endmonth
	,daochu_f_endday,daochu_f_type,daochu_f_mc,daochu_f_purpose,daochu_f_personalhobbit
	,daochu_f_marriage,daochu_f_children,daochu_f_leave
	,daochu_f_inleftnum,daochu_f_overduecard
	</colname>
	<sql-template>query-base.sql</sql-template>

	<transaction>
		<classname>transactions.project.fitness.SearchData</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>

	<excel recordset="query-base.sql" sheetname="会员信息查询" filename="会员信息查询.xls" header-background="true">
		<col id="custname" label="姓名" />
		<col id="sex" label="姓别" />
		<col id="mobile" label="手机号码" />
		<col id="name" label="卡种类别" />
		<col id="remark" label="卡种备注信息" />
		<col id="code" label="卡号" />
		<col id="incode" label="卡内码" />
		<col id="status" label="卡状态" />
		<col id="prestopdays" label="预停卡天数" />
		<col id="factstopdays" label="实停卡天数" />
		<col id="reason" label="停卡原因" />
		<col id="money" label="停卡实收金额" />
		<col id="factmoney" label="购卡成交金额" />
		<col id="indate" label="最后到访时间" />
		<col id="startdate" label="起止时间" />
		<col id="enddate" label="截止有效期" />
		<col id="count" label="总次数" />
		<col id="nowcount" label="剩余次数" />
		<col id="custremark" label="会员备注信息" />
		
	</excel>

</config>
