<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>

	<log>false</log>

	<transaction>
		<classname>transactions.project.fitness.weixin.JsSignature</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="getheader.sql" source="sql" scope="transaction" />
			<recordset id="getinfo.sql" source="sql" scope="transaction" />
				<recordset id="query-tiyanka.sql" source="sql" scope="transaction" />
					<recordset id="query-cardlist.sql" source="sql" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.html</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
	 	<print mode="form" recordset="getheader.sql" />
	 	<print mode="table" recordset="getinfo.sql"  tag="info"/>
	 	<print mode="table" recordset="query-tiyanka.sql"  tag="tiyanka"/>
	 		<print mode="table" recordset="query-cardlist.sql"  tag="card"/>
	 		
	 	<print mode="form" recordset="_rsSignature" />
		<print mode="form" recordset="_request" />
	</output>

</config>