<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		界面配置管理
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>		
		<recordset id="query-table-field.sql" source="sql" scope="transaction"/>
		<recordset id="query-form-item.sql" source="sql" scope="transaction"/>
		<recordset id="query-form-field.sql" source="sql" scope="transaction"/>
		<recordset id="query-filter-field.sql" source="sql" scope="transaction"/>
		<recordset id="query-grid-field.sql" source="sql" scope="transaction"/>
		<recordset id="query-excel-field.sql" source="sql" scope="transaction"/>
		<recordset id="query-pdf-field.sql" source="sql" scope="transaction"/>
		<recordset id="query-form.sql" source="sql" scope="transaction"/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode="table" recordset="query-table-field.sql" tag="table-field"/>
		<print mode="table" recordset="query-form-item.sql" tag="show-item"/>
		<print mode="table" recordset="query-form-item.sql" tag="filter-item"/>
		<print mode="table" recordset="query-form-field.sql" tag="form-field" null-value=""/>
		<print mode="table" recordset="query-filter-field.sql" tag="filter-field"  null-value=""/>
		<print mode="table" recordset="query-grid-field.sql" tag="grid-field"  null-value=""/>
		<print mode="table" recordset="query-excel-field.sql" tag="excel-field"  null-value=""/>
		<print mode="table" recordset="query-pdf-field.sql" tag="pdf-field"  null-value=""/>
		<print mode="form" recordset="query-form.sql"/>
		<print mode="form" recordset="_request" />
	</output>

</config>
