<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		clear null recycle;
	</summary>
	
	<log>false</log>
	
	<transaction>
		<classname>com.ccms.faq.RecycleTransaction</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>

 	<query>remove_master_detail.sql</query>
    <query>remove_all.sql</query>
    
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
	</output>

</config>
