<?xml version='1.0' encoding='UTF-8'?>
<config nodb="false">

	<summary>
	</summary>
	
	<log>false</log>
    
   <transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	    <recordset id="query-xiaoshouyuan.sql" source="sql" scope="transaction" />
	    <recordset id="query-paytype.sql" source="sql" scope="transaction" />
	</transaction>
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="query-xiaoshouyuan.sql" tag="cashier1-list"/>
		<print mode="table" recordset="query-xiaoshouyuan.sql" tag="cashier-list"/>
		<print mode="table" recordset="query-paytype.sql" tag="paytype-rows"/>
		<print mode="table" recordset="query-paytype.sql" tag="payvalue-rows"/>
		<print mode="table" recordset="query-paytype.sql" tag="paysum-rows"/>
		<print mode="table" recordset="query-paytype.sql" tag="pay-rows"/>
		<print mode="form" recordset="_request" /> 
	</output>
 
</config>
