<?xml version='1.0' encoding='UTF-8'?>
<config nodb="flase">

	<summary>
		入住管理
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-user.sql" source="sql" scope="transaction" /> 
		<recordset id="query-MembershipProtectionPeriod.sql" source="sql" scope="transaction" /> 
	</transaction>
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="query-MembershipProtectionPeriod.sql" />
		<print mode="form" recordset="query-user.sql" />
	</output>

</config>
