<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		界面技能配置
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-form-skill.sql" source="sql" scope="transaction"/>
		<recordset id="query-skill.sql" source="sql" scope="transaction"/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode="table" recordset="query-skill.sql" tag="skill-list" alternate-colors="true" />
		<print mode="form" recordset="query-form-skill.sql" />
	</output>

</config>