<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		员工管理修改
	</summary>
	
	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTableManager</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	<query>insert-name-log.sql</query>
	<query>insert-sex-log.sql</query>
	<query>insert-othertel-log.sql</query>
	<!-- <query>insert-mobile-log.sql</query> -->
	<query>update.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
	</output>

</config>
