<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
	</summary>
	
	<log>false</log>
	
	<colname></colname>
	<sql-template>query.sql</sql-template>
	<paging-recordset>query.sql</paging-recordset>
	<paging-pagesize>10</paging-pagesize>
	<total-recordset>query-page.sql</total-recordset>
	<session-recordset>rsData</session-recordset>
	
	<transaction>
		<classname>com.ccms.imp.SearchForJsonImport</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="rsTitle" source="session" scope="transaction" />
	</transaction>
	
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="rsTitle" tag="trows"/>
		<print mode="table" recordset="query.sql" tag="rows"/>
		<print mode="form" recordset="query-page.sql"/>
	</output>
</config>