<?xml version='1.0' encoding='UTF-8'?>
<config nodb="true">

	<summary>
		入住管理
	</summary>
	
	<log>false</log>
 
	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
	</output>

</config>
