<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>

	</summary>
	
	<log>false</log>

	<transaction>
		<classname>com.ccms.report2.ChartConfig</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-axis-x.sql" source="sql" scope="transaction"/>
		<recordset id="query-axis-y.sql" source="sql" scope="transaction"/>
		<recordset id="query-series.sql" source="sql" scope="transaction"/>
		<recordset id="query-chart.sql" source="sql" scope="transaction"/>
	</transaction>

    <output>
	   <classname>com.ccms.report2.ChartOutput</classname>
	   <set-http-headers>true</set-http-headers>
	   <expiration>0</expiration>
    </output>	

	<!--chart configuration-->
	<chart>

		<!--chart plugin - see reference guide for available plugins-->
		<plugin>dinamica.charts.PieChart3D</plugin>

		<!--titles-->
		<title>Title Chart</title>
		<title-x>Title X</title-x>
		<title-y>Title Y</title-y>

		<!--
		leave empty if there are no series
		otherwise set label names separated by ";"
		-->
		<title-series></title-series>

		<!--
			name of the session attribute that contains the
			recordset that will provide the data for the chart,
			this recordset must have been saved in session by
			a previous Action
		-->
		<recordset>query-report-result.sql</recordset>

		<!--
			column that represents the "X" field or category
		-->
		<field-x>categoryname</field-x>
		
		<!--
			column that represents the "Y" field or values
			if multiseries then type multiple column names separated by ";"		
		-->
		<field-y>subtotal</field-y>

		<!--chart dimension in pixels-->
		<width>500</width>
		<height>400</height>
		
		<!--optional: define color for single serie charts only-->
		<!--<color>#9393ff</color>-->

		<!--set to true to persist chart image (byte[]) in session-->
		<session>false</session>

		<!--session attribute name - only used if session=true-->
		<image-id>dinamica.image.demochart</image-id>

	</chart>
	
</config>
