<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		查询
	</summary>
	
	<log>false</log>

	<sql-template>query-base.sql</sql-template>
	<paging-recordset>query.sql</paging-recordset>
	<total-recordset>query-count.sql</total-recordset>

	<transaction>
		<classname>com.ccms.core.engine.ObJobSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query_grid_field.sql" source="sql" scope="transaction"/>
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="table" recordset="query_grid_field.sql" tag="rows2" />
		<print mode="table" recordset="query.sql" tag="rows" />
		<print mode="form" recordset="query-count.sql"/>
	</output>

</config>
