<?xml version='1.0' encoding='UTF-8'?>
<config>

	<summary>
		业务操作历史信息管理
	</summary>
	
	<log>false</log>


	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>		
		<recordset id="query.sql" source="sql" scope="transaction" />
		<recordset id="query-oper.sql" source="sql" scope="transaction" />
		<recordset id="query-context.sql" source="sql" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<print mode="table" recordset="query.sql" tag="rows"/>
		<print mode="table" recordset="query-oper.sql" tag="rows2"/>
		<print mode="table" recordset="query-context.sql" tag="rows3"/>
	</output>

</config>
