<!DOCTYPE html>
<html>
<head>
<title>办卡合同</title>
${inc:/action/project/fitness/home/pub}
</head>
<style>
	.upload_btn {
    position: absolute;
    cursor: pointer;
    bottom: 0px;
    right: 0px;
    width: 32px;
    height: 32px;
    background: url(${def:context}/js/project/fitness/image/SVG/common/photo.svg) center center no-repeat;
}
</style>
<body>
	<div class="basic-dialog  dialogbg" style="height: 550px">
		<header class="header-default">
		办卡合同
		</header>
		<form id="contractForm" name="contractForm" method="post">
			<input type="hidden" id="contractcode" name="contractcode" value="${fld:code}" preserve="true" />
			<input type="hidden" id="customercode" name="customercode" value="${fld:customercode}" preserve="true" />
			<input type="hidden" id="recommendcode" name="recommendcode" value="${fld:recommendcode}" />
			<input type="hidden" id="normalmoney" name="normalmoney" value="${fld:normalmoney}" preserve="true"/>
			<input type="hidden" id="cardtypetype" name="cardtypetype" value="${fld:cardtypetype}" />
			<input type="hidden" id="factmoney" name="factmoney" value="" />
			<input type="hidden" id="paydetail" name="paydetail" value="" />
			<div class="b-i-main" style="position: relative">
				<div class="head-img" style="position: absolute;right: 11px;cursor: pointer;
				z-index: 999;border: 1px solid #272424;">
					<img src="${def:context}/js/project/fitness/image/SVG/50X50.svg" 
					onerror="javascript:this.src='${def:context}/js/project/fitness/image/SVG/170X220.svg'" id="headpic" height="150" width="120">
					<span class="upload_btn" id="upload_btn"></span>
				</div>
				<nav>
					<li>
						<label style="width: 120px;">会员：</label>
						<span id="custnamespan">${fld:custname@js}</span>
		     		</li>
					<li>
						<label style="width: 120px;">电话：</label>
						<span id="mobilespan">${fld:custmobile@js}</span>
		     		</li>
					<li>
						<label style="width: 120px;">会员卡号：</label>
						<input type="text" placeholder="会员卡号" id="cardcode" name="cardcode" value="${fld:cardhead}" />
		     		</li>
					<li id="incodeDiv" style="display:none;">
						<label style="width: 120px;">卡内码：</label>
						<input type="text" placeholder="卡内码" id="incode" name="incode" />
		     		</li>
					<li id="recommendDiv">
						<label style="width: 120px;">推荐人：</label>
						<span id="recommendnamespan">${fld:recommendname@js}</span>
						<!-- <span id="recommendmobilespan">${fld:recommendmobile@js}</span> -->
		     		</li>
					<li>
						<label style="width: 120px;">销售员：</label>
						<span id="salememberspan">${fld:salemembername@js}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<span id="salemember1span">${fld:salemembername1@js}</span>
		     		</li>
					<li>
						<label style="width: 120px;">卡类型：</label>
						<span id="cardtypespan">${fld:cardtypename@js}</span>
		     		</li>
		     		<div class="b-c-c-support" style="margin-left: 54px;">
						<p>支持门店：</p>
						<div class="more" id="supportorgsspan" style="margin-top:-10px">
						</div>
					</div>
					<li>
						<label style="width: 120px;">启用方式：</label>
						<span id="starttypespan">${fld:starttypename@js}</span>
		     		</li>
					<li>
						<label style="width: 120px;">启用日期：</label>
						<span id="startdatespan">${fld:startdate}</span>
		     		</li>
					<li>
						<label style="width: 120px;">截止日期：</label>
						<span id="enddatespan">${fld:enddate}</span>
		     		</li>
					<li>
						<label style="width: 120px;">赠送免费私教课时：</label>
						<span id="ptcountspan">${fld:ptcount}</span>
		     		</li>
					<li>
						<label style="width: 120px;">赠送免费入会天数：</label>
						<span id="givedayspan">${fld:giveday}</span>
		     		</li>
					<li>
						<label style="width: 120px;">原价：</label>
						<span id="inimoneyspan">${fld:inimoney}</span>
		     		</li>
					<li>
						<label style="width: 120px;">折扣类型：</label>
						<span id="discounttypespan">${fld:discounttype}</span>
		     		</li>
					<li>
						<label style="width: 120px;">折扣金额：</label>
						<span id="discountmoneyspan">${fld:discountmoney}</span>
		     		</li>
					<li id="stagetimesDiv" style="display:none;">
						<label style="width: 120px;">分期说明：</label>
						合计<span id="totalmoneyspan"></span>元，账单共分为<span id="stagetimesspan">
						</span>期，当前为第<span id="currentstagespan"></span>期
		     		</li>
					<li>
						<label style="width: 120px;">应收金额：</label>
						<span id="normalmoneyspan">${fld:normalmoney}</span>元
		     		</li>
					<li>
						<label style="width: 120px;">实收：</label>
						<span id="factmoneyspan" style="color: #fdb346;font-size: 16px;font-weight: 600;">${fld:factmoney}元</span>
		     		</li>
					<li>
						<label style="width: 120px;">备注：</label>
						<span id="remarkspan">${fld:remark@js}</span>
		     		</li>
		     		<li id="paydiv" style="margin-left: 5%">
		     		</li>
		     		<li></li>
		     		<li id="paymethodDiv" style="margin-left: 5%">
		     			<nav>
		     				<li style="width: 800px">
								<select class="normal-select" id="paymethod" name="paymethod" >
									<option value="">请选择支付方式</option>
								</select>
								<input id="paymoney" name="paymoney" placeholder="请输入支付金额"  style="margin-left: 10%"/>
								<i class="am-icon-plus" id="addpay_btn" title="添加"></i>
		     				</li>
		     			</nav>
		     		</li>	
		     		<li id="moneycashDiv">
		     			<label style="width: 120px;">现金储值：</label>
						<span id="moneycash">${fld:moneycash}</span>
		     		</li>
		     	</nav>
		     </div>
			<div class="b-i-main">
				<nav>
					<li>
						<label style="width: 120px;">办理人：</label>
						<span id="createdbyspan">${fld:createdby}</span>
		     		</li>	
					<li>
						<label style="width: 120px;">办理时间：</label>
						<span id="createdatespan">${fld:createdate}&nbsp;${fld:createtime}</span>
		     		</li>
					<li>
						<label style="width: 120px;">收款人：</label>
						<span id="collectbyspan">${fld:collectby}</span>
		     		</li>	
					<li>
						<label style="width: 120px;">收款时间：</label>
						<span id="collectdatespan">${fld:collectdate}&nbsp;${fld:collecttime}</span>
		     		</li>
				</nav>
			</div>
			<footer class="footer-default" id="paybtnDiv">
				<button type="button" id="save_btn">确认支付</button>
			</footer>
			</form>
		</div>

	<input type="hidden" name="actionroot" id="actionroot" value="${def:actionroot}" />
<script type="text/javascript">

  $(".head-img").hover(function() {
	
	$('.hoverhowTable').css('display', 'block');
 }, function() {
	$('.hoverhowTable').css('display', 'none');
 });
var paytotal = 0;	//已 支付金额
$(document).ready(function(){
	if("${fld:isaudit}"=="1"){
		ccms.dialog.notice("该合同未审批，不能付款！", 3000);
	}else if("${fld:isaudit}"=="3"){
		ccms.dialog.notice("该合同审批拒绝，不能付款！", 3000);
	}
	selectInit($("#paymethod"));
	var topaymoney = parseFloat("${fld:normalmoney}");
	$("#moneycashDiv").hide();
	getAjaxCall("/action/project/fitness/util/querysupportorgs?cardtype=${fld:cardtype}"+"&objid=supportorgsspan", false);

	if( Number("${fld:stage_times}") > 1 ){
		$("#totalmoneyspan").text("${fld:normalmoney}");
		$("#stagetimesspan").text("${fld:stage_times}");
		$("#currentstagespan").text(parseInt("${fld:stage_times_pay}"));
		$("#stagetimesDiv").show();
		$("#normalmoneyspan").text("${fld:stagemoney}");
		topaymoney = parseFloat("${fld:stagemoney}");
	}else{
		$("#stagetimesDiv").remove();
	}
	if( "" != "${fld:cardcode}" ){
		$("#cardcode").val("${fld:cardcode}");
		$("#cardcode").attr("readonly", true);
	}else{
		$("#incodeDiv").show();
	}
	// 卡号修改
	$("#cardcode").unbind().on("blur",function(){
		var cardcode = $(this).val();
		if( "" == cardcode ){
			cardcode = "${fld:cardhead}";
			$(this).val(cardcode);
		}else if(cardcode.length < 2 || "${fld:cardhead}" != cardcode.substr(0,2)){
			cardcode = "${fld:cardhead}" + cardcode;
			validateNewCardcode("${fld:cardhead}", cardcode, "cardcode");
		}else{
			validateNewCardcode("${fld:cardhead}", cardcode, "cardcode");
		}
		$("#incode").val("");
	});

	$("#headpic").attr("src", contextPath + "/action/project/fitness/util/attachment/download?tuid=${fld:custimgid}&type=1");
	// 上传头像
	$("#upload_btn").unbind().on("click",function(){
		ccms.dialog.open({url: contextPath+"/action/project/fitness/util/attachment/photo/crud?table_code=cc_customer"
				+"&pk_value="+$("#customercode").val()+"&imgid=headpic", height: "600", width: "630"});
	});
	
	// 加载支付方式
	loadPayType("paymethod", function(){
		if( Number("${fld:status}") >= 2 ){
			var arr = "${fld:pay_detail}".split(";");
			$("#paymethod").find("option").each(function(idx,ele){
				if( "" != $(ele).attr("code") ){
					if(arr[idx-1]!=""&&arr[idx-1]!=undefined){
						if(parseInt(arr[idx-1])!=0){
							addShowPaymethod($(ele).val(), arr[idx-1], $(ele).text(), true);
						}
					}
				}
			});
			$("#paymethodDiv").hide();
			$("#paybtnDiv").hide();
		}else{
			$("#paymethodDiv").show();
			$("#paybtnDiv").show();
		}
	});
	//zyb 20190506根据支付方式显示和隐藏标签
	$("#paymethod").change(function(){
		if($("#paymethod").val()=="f_chuzhika"){
			$("#moneycashDiv").show();
		}else{
			$("#moneycashDiv").hide();
		}
	});
	
	// 添加支付方式
	$("#addpay_btn").unbind().on("click",function(){
		var paymethod = $("#paymethod").val();
		var paymoney = $("#paymoney").val();
		if( "" == paymethod ){
			ccms.dialog.notice("请选择支付方式", 2000);
			return false;
		}else if( "" == paymoney || !(isFloat(paymoney) || isNumber(paymoney)) || Number(paymoney) <= 0 ){
			ccms.dialog.notice("请输入支付金额", 2000);
			return false;
		}
		//zyb 20190506提示金额不足
		if($("#paymethod").val()=="f_chuzhika"){
			if(parseFloat($("#moneycash").text())<parseFloat($("#paymoney").val())){
				ccms.dialog.notice("储值账户剩余金额不足,请充值！", 2000);
				return false;
			}
		}
		if($("#cardtypetype").val()=="2"){
			ccms.dialog.notice("储值账户不可以购买储值卡！", 2000);
			return false;
		}
		
		var mobj = $("#paydiv").find("[code1="+paymethod+"]");
		if( mobj.length > 0 ){
			var _paymoney = (parseFloat(paymoney) + parseFloat(mobj.attr("code2"))).toFixed(2);
			$("#paymethod").find("option:selected").attr("code", _paymoney);
			mobj.attr("code2", _paymoney);
			mobj.find("[name=fee]").text(_paymoney);
		}else{
			$("#paymethod").find("option:selected").attr("code", paymoney);
			addShowPaymethod(paymethod, paymoney, $("#paymethod").find("option:selected").text(), false);
		}
		paytotal = (parseFloat(paytotal) + parseFloat(paymoney)).toFixed(2);
		$("#factmoneyspan").text(paytotal);
	});
	
	// 支付
	$("#save_btn").unbind().on("click",function(){
		//判断登录人是否有支付权限
		if(parseInt("${fld:skillscopenum}")==0){
			ccms.dialog.notice("该登录人没有收款权限！", 2000);
			return false;
		}
		if($("#cardcode").val()=="${fld:cardhead}"){
			ccms.dialog.notice("请输入卡号！", 2000);
			return false;
		}
		if( parseFloat(topaymoney) > parseFloat(paytotal) ){
			if( parseFloat(topaymoney) == 0.0 ){
				ccms.dialog.notice("实付金额不能为0！", 2000);
			}else{
				ccms.dialog.confirm("实付金额小于应收金额，是否确认有欠款？", function(){
					checkCardToPay();
				});
			}
		}else if( parseFloat(topaymoney) != parseFloat(paytotal) ){
			ccms.dialog.notice("实付金额不等于应收金额，请确认！", 2000);
		}else{
			checkCardToPay();
		}
	});
});
function checkCardToPay(){
	if( "" == $("#incode").val() ){
		ccms.dialog.confirm("未检测到有读取到卡内码，是否确定使用虚拟卡？", function(){
			//zyb 20190506如果是储值卡支付先扣钱在办业务操作
			if($("#f_chuzhika").length>0){
				getAjaxCall("/action/project/fitness/contract/newcard/create/updatecust?paymoney="+$("#paydivspan").attr("code2")+"&customercode="+$("#customercode").val(), false);
			}else{
				pay();
			}
		});
	}else{
		//zyb 20190506如果是储值卡支付先扣钱在办业务操作
		if($("#f_chuzhika").length>0){
			getAjaxCall("/action/project/fitness/contract/newcard/create/updatecust?paymoney="+$("#paydivspan").attr("code2")+"&customercode="+$("#customercode").val(), false);
		}else{
			pay();
		}
	}
}
</script>
</body>
</html>